<%= task_tr(task) do %>
  <td>
    <%= check_box :task, :done, { id: "done-checkbox-#{task.id}", class: 'done-checkbox', checked: task.done? }, "true", "false" %>
  </td>
  <td class="due">
    <%= task.due&.strftime("%Y-%m-%d") %>
  </td>
  <td class="project">
    <%= task.project %>
  </td>
  <td class="priority">
    <%= task.priority %>
  </td>
  <td class="tags">
    <%= task.tags %>
  </td>
  <td class="description">
    <%= task.description %>
  </td>
  <td class="action">
    <% if task.id.present? # Task#create 直後の uuid の取得ができていないので %>
      <%= link_to '<i class="fa fa-edit" ></i>'.html_safe, edit_task_path(task), class: 'btn btn-warning' %>

      <button class="btn btn-danger" data-confirm='Are you sure?' onclick="ajaxTaskDestroy('<%= task.id %>')">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    <% end %>
  </td>
<% end %>

<!-- task done action -->
<script>
  $("#done-checkbox-<%= task.id %>").change(function() {
    return ajaxUpdateDone('<%= task.id %>', $(this).prop("checked"));
  });

  // trigger checkbox on td clicked.
  $("td:has(#done-checkbox-<%= task.id %>)").click(function() {
    $(this).children('.done-checkbox').trigger('click');
  });

  // Stop propagation.
  $("#done-checkbox-<%= task.id %>").click(function(event) {
    event.stopPropagation();
  });

  if (typeof ajaxUpdateDone != 'function') {
  // done を戻す処理はできてないです。
    function ajaxUpdateDone(id, done) {
      console.log('ajaxUpdateDone');
      console.log('id = ' + id);
      $.ajax({
        url: "tasks/done/" + id,
        type: "POST",
        dataType: 'json'
      }).then(
        data => {
          $("#task-" + id).addClass("table-success");
          $("#task-" + id).addClass("task-done");
        },
        error => alert("更新に失敗しました。")
      );
    }
  }
</script>

<!-- task destroy action -->
<script>
  if (typeof ajaxTaskDestroy != 'function') {
  // done を戻す処理はできてないです。
    function ajaxTaskDestroy(id) {
      console.log('ajaxTaskDestroy');
      console.log('id = ' + id);
      $.ajax({
        url: "tasks/" + id,
        type: "DELETE",
        dataType: 'json'
      }).then(
        data => {
          $("#task-" + id).remove();
        },
        error => alert("削除に失敗しました。")
      );
    }
  }
</script>
