<%= task_tr(task) do %>
  <td>
    <%= check_box :task, :done, { id: "done-checkbox-#{task.id}", class: 'done-checkbox', checked: task.done? }, "true", "false" %>
  </td>
  <td class="due">
    <%= task.due&.strftime("%Y-%m-%d") %>
  </td>
  <td class="description">
    <%= task.description %>
  </td>
  <td>
    <%#= link_to 'Edit', edit_task_path(task), class: 'btn btn-warning' %>
    <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </td>
<% end %>

<script>
  $("#done-checkbox-<%= task.id %>").change(function() {
    return ajaxUpdateDone('<%= task.id %>', $(this).prop("checked"));
  });

  // trigger checkbox on td clicked.
  $("td:has(#done-checkbox-<%= task.id %>)").click(function() {
    $(this).children('.done-checkbox').trigger('click');
  });

  // Stop propagation.
  $("#done-checkbox-<%= task.id %>").click(function(event) {
    event.stopPropagation();
  });

  if (typeof ajaxUpdateDone != 'function') {
    function ajaxUpdateDone(id, done) {
      console.log('ajaxUpdateDone');
      console.log('id = ' + id);
      $.ajax({
        url: "tasks/done/" + id,
        type: "POST",
        dataType: 'json'
      }).then(
        data => {
          $("#task-" + id).addClass("table-success");
          $("#task-" + id).addClass("task-done");
        },
        error => alert("更新に失敗しました。")
      );
    }
  }
</script>
